<div class="container">
    <div class="row margin-top-small text-center">
        <div class="form-actions whiteFont text-center">
            <div class="col-xs-12">
                <div ng-show="vm.message" class="alert alert-success">{{vm.message}}</div>
                <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
            </div>

            <span class="text4_5">Välj Avdelning</span>
        </div>
        <form name="form" ng-submit="vm.attendance()" role="form" class="form-inline" novalidate>
            <div class="col-xs-12 form-group margin-top-xsmall">
                <div>
                    <label for="division">Avdelning</label>
                    <select id="division" class="form-control" ng-change="vm.getMembers(p.intDivisionID)" ng-model="vm.attendance.intDivisionId" ng-options="p.intDivisionID as p.varName for p in vm.divisions"></select>
                </div>
            </div>
            <div class="col-xs-12 form-group margin-top-xsmall">
                <div>
                    <input type="date" ng-model="vm.attendance.dtmAttendanceDate" value="" />
                </div>
            </div>
            <div class="col-xs-12 form-group ">
                <table class="visible-xs-inline-block text-left">
                    <tr ng-repeat="member in vm.attendance.members">
                        <td>{{member.chrFirstName}} {{member.chrLastName}}</td>
                    </tr>
                </table>
            </div>
        </form>
    </div>
</div>