<div class="container">
    <div class="row margin-top-small text-center">
        <div class="form-actions whiteFont text-center">
            <div class="col-xs-12">
                <div ng-show="vm.message" class="alert alert-success">{{vm.message}}</div>
                <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
            </div>

            <span class="text4_5">Välj Avdelning</span>
        </div>
        <form name="form" ng-submit="vm.attendance()" role="form" class="form-inline" novalidate>
            <div class="col-xs-12 form-group margin-top-xsmall">
                <div>
                    <input type="date" ng-model="vm.attendance.dtmAttendanceDate" value="" ng-change="vm.getMembers()" /><button class="btn btn-primary btn-xs" ng-click="vm.setToday($event)">Idag</button>
                </div>
            </div>
            <div class="col-xs-12 form-group margin-top-xsmall">
                <div>
                    <label for="division">Avdelning</label>
                    <select id="division" class="form-control input-sm" ng-change="vm.getMembers()" ng-model="vm.attendance.intDivisionId" ng-options="p.intDivisionID as p.varName for p in vm.divisions" ng-disabled="!vm.attendance.dtmAttendanceDate"></select>
                </div>
            </div>
            <div class="col-xs-12 form-group text-center ">
                <table class="text4">
                    <tr ng-swipe-left="vm.attend(member)" ng-swipe-right="vm.unattend(member)" ng-click="vm.toggleAttend(member)" ng-repeat="member in vm.memberAttendances">
                        <td><span ng-show="member.blnAttend==undefined" class="glyphicon glyphicon-question-sign blueFont"></span><span ng-show="member.blnAttend" class="glyphicon glyphicon-ok-sign greenFont"></span><span ng-show="member.blnAttend==false" class="glyphicon glyphicon-remove-sign redFont"></span></td><td class="text-left" > {{member.chrFirstName}} {{member.chrLastName}}</td>
                    </tr>
                </table>
            </div>
            <input type="button" value="Klar!" ng-click="vm.confirm()" class="btn btn-primary" ng-disabled="!vm.attendance.intAttendanceId"/>
        </form>
    </div>
</div>